/* universal styling */

@import url('https://fonts.googleapis.com/css2?family=Inder&family=Kosugi+Maru&family=Wallpoet&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inder", sans-serif;

}

body {
    background-color: rgb(20, 20, 20);
    color: rgb(240, 239, 231);
}

.row {
    display: flex;
    flex-flow: row wrap;
}

.column {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.column-left {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: center;
}

.column-right {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    justify-content: center;
}

.column-space-around {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
}

.column-space-btwn {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
}



.row-space-around {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.row-space-btwn {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.row-btwn-top {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.row-end {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
}

.row-center {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.row-tot-btwn {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.row-tot-center{
    display: flex;
    /* flex-flow: row wrap;*/
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.port-wrapper {
    height: 100vh;
    overflow-y: scroll;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.wallpoet {
    font-family: "Wallpoet", sans-serif;
}

.kosugi {
    font-family: "Kosugi Maru", sans-serif;
}

.eye {
    width: 4em;
    margin: .3em;
}

p {
    line-height: 25px;
}

h1 {
    font-size: 6em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.3em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Wallpoet", sans-serif;
}

a {
    color: rgb(243, 240, 235);
}

a::after {
    color: rgb(243, 240, 235);
}

.underline {
    text-decoration: underline;
}

.eighty-sizer {
    width: 80vw;
}

/* .seventyWidth{
    width: 70%;
} */

/* typing effect animation */

.type-intro {
    overflow: hidden;
    color: rgb(243, 240, 235);
    border-right: .15em solid rgb(255, 255, 255);
    white-space: nowrap;
    letter-spacing: .15em;
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
    width: fit-content;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 70%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: rgb(243, 240, 235);
    }
}

/* ty sharon for the typing code ^^ !!!! love u girl */

/* nav */

nav {
    box-sizing: content-box;
    background-color: rgb(35, 0, 0);
    color: rgb(219, 218, 210);
    border-right: 1px solid white;

    font-size: 1.5em;

    height: 100%;
    width: 115px;
    padding-right: .5em;
    padding-left: .3em;

    /* positioning */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    /* animation? */
    transition: background-color .5s linear;
}

nav section {
    cursor: pointer;
}

nav section p {
    margin-top: .3em;
}

nav:hover {
    background-color: rgb(194, 184, 167);

}

nav section:hover {
    color: #794a03;
}



.main {
    margin-left: 200px;
}

/* portfolio styling */

.left-main {
    width: 75%;
    margin-top: 1em;
}

.right-main {
    width: 20%;
    background-color: rgb(240, 239, 231);
    color: rgb(20, 20, 20);
    padding: 1.5em;
    height: 100%;

    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
}

.right-main p {
    width: 60%;
    align-self: flex-start;
    margin-left: 1.5em;
    font-size: 1.2em;
}

.port-head {
    width: 90%;
    margin-bottom: 2em;
}

.port-eyes {
    width: 25%;
}

.card {
    width: 75%;
    background-color: #181818;
    border-radius: 10px;
    padding: 1.5em;
    margin: .5em;
    border: 2px solid #655500;
    line-height: 27px;
    cursor: pointer;
}

.card:hover {
    background-color: #655500;
}

.final-card {
    margin-bottom: 2em;
}

.subtitle {
    color: #B7B7B7;
    margin: .3em 0 .5em 0;
}

.portfolio h2 {
    margin: .5em 0 .5em 0;
}

/* story landing styling*/

.carousel img {
    width: 50%;
    /* edit talls to 1050px height photopea */
}


.caption {
    width: 50%;
    margin-right: 1em;
}

.carousel-but button {
    background-color: rgb(240, 239, 231);
    color: rgb(20, 20, 20);
    width: 5rem;
    height: 2rem;
    font-size: 1.5em;
    font-family: "Wallpoet", sans-serif;
    margin: 0 .05em 0 .05em;
}

.carousel-but button:hover {
    background-color: rgb(194, 184, 167);

}

.carousel-but button img {
    width: 20%;
}

.char-card {
    width: 30%;
    margin-top: 2em;
    transition: border 1s linear;
    padding: .5em;
}

.char-card:hover {
    border: 1px solid white;
}

.char-card img {
    width: 100%;
    margin-bottom: 1em;
}

.char-triple img {
    width: 30%;
}

.char-wide img {
    width: 60%;
}

.land-head {
    margin-top: 2em;
}

.land-head p {
    line-height: 23px;
}

.landing-div {
    width: 700px;
    height: 1.5px;
    background-color: rgb(243, 240, 235);
    margin: 2em 0 2em 0;
}

.intro {
    width: 50%;
}

.extra {
    width: 50%;
    line-height: 30px;
    margin-left: 2em;

}

.landing-btn a, .landing-btn a::after{
    text-decoration: none;
    background-color: rgb(243, 240, 235);
    margin: 0 .1em 0 .1em;
    color: black;
    padding: .7rem 2rem .7rem 2rem;
    font-family: "Wallpoet", sans-serif;
    font-size: 1.4em;
    transition: color 1s, border 1s, "background-color" 1s;
}

.landing-btn a:hover{
    background-color: #181818;
    color: rgb(243, 240, 235);
    border: 1px solid white;
}

.long{
    width: 70%;
}

.short{
    width: 15%;
    /* make 800x800px */
}

.fiftywidth {
    width: 50%;
}

.fifwimg img{
    width: 50%;
}

/* home styling */

.home-eyes img{
    width: 5em;
}

.top-eyes{
    width: 100%;
}

.top-eyes img{
    margin: 1em;
}

.top-sec{
    width: 100%;
    margin-bottom: .5em;
    margin-left: 1.7em;
}

.abt-sec{
    padding: 1em;
    text-align: center;
    border-radius: 17px;
    cursor: pointer;
}

.abt-sec:hover{
    background-color: white;
    color: black;
}

.about{
    text-align: left;
    width: 100%;
}

.contact{
    width: 50%;
    padding: 2em 1em 2em 1em;
}

.resume{
    width: 50%;
    padding: 6em .5em 6em .5em;
}

.projects{
    width: 80%;
}

.left{
    width: 60%;
}

.right{
    width: 40%;
}

.logo img{
    width: 75%;
    margin: 1em;
}

.home-links, .home-links::after{
    width: 80%;
    font-size: 1.5em;
    color: white;
}

.home-links a:hover{
    color:rgb(194, 184, 167);
}

.home-links img{
    width: 25%;
}

.h-l-top{
    margin-top: .5em;
}

.center-sizer{
    width: 50%;
}

.red{
    border: 2px solid #5C0000;
}

.gold{
    border: 2px solid #655500;
}

/* eye animations */

#eyeOne, #eyeSeven{
    animation: blink 2s alternate infinite;
    animation-delay: 20s;
}

#eyeTwo, #eyeSix{
    animation: blink 4s alternate infinite;
    animation-delay: 15s;
}

#eyeFive, #eyeFour{
    animation: blink 6s alternate infinite;
    animation-delay: 10s;
}

#eyeThree{
    animation: blink 9s alternate infinite;
    animation-delay: 5s;
}

@keyframes blink{
    from{
        opacity: 1;
    }

    to{
        opacity: .01;
    }
}

/* animating the wrapper opening */

.brackets{
    animation: fadein 1s forwards;
    opacity: 0;
}


#home-content{
    animation: width-open 3s forwards;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    width: 0%;
    opacity: 0;
    /* visibility: hidden; */
}



@keyframes width-open{
    0% {
        width: 0%;
    }

    75% {
        width: 50%;
        /* visibility:hidden; */
        opacity: 0;
    }

    100% {
        /* visibility: visible; */
        opacity: 1;
        width: 50%;
    }
}

@keyframes fadein{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

/* styling bracket divs */

.brackets div{
    background-color: white;
}

.top-div{
    height: 1px;
    width: 30px;
}

.long-div{
    width: 1px;
    height: 700px;
}


/* footer */
.footer {
    padding: .5em 0 2em 0;
    font-family: "Kosugi Maru", sans-serif;
    align-self: center;
}

.port-foot {
    position: fixed;
    bottom: 0;
}

.landing-foot {
    margin-top: 3em;
    margin-bottom: 1.5em;
}

.black {
    color: black;
}



/* index styling */

.index {
    width: 90%;
    height: 20%;
    background-color: rgb(255, 244, 223);
    border: 3px solid #e7c100;
    color: #5C4651;
    font-family: "Kosugi Maru", sans-serif;
    overflow-y: scroll;
    padding: .5em;
    margin: 1em;
}

.index a,
.index a::after {
    color: #5C4651;
    text-decoration-style: dotted;
    text-underline-offset: 2px;
}

.index::-webkit-scrollbar {
    width: 10px;
}

.index::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px 10px transparent;
    border: solid 3px transparent;
}

.index::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px #5C4651;
    border: solid 2px transparent;
}

.index h5 {
    text-decoration: underline;
    font-family: "Kosugi Maru", sans-serif;
}

.index ul {
    list-style-type: none;
    line-height: 25px;
}

.tab li {
    margin-left: 1em;
}

.ind-op {
    border: 2px solid #5C4651;
    background-color: rgba(233, 220, 194, 0.28);
}

.intro-index {
    margin-right: 10em;
}

.intro-index h3 {
    text-decoration: underline;
}